* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    font-size: 18px;
}


.menu {
    background-color: white;
    border-radius: 4px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -7px 9px 17px 0px #00000017;
}

li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

nav {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-image: url(https://cdn-icons-png.flaticon.com/512/1250/1250689.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 17px 0px #00000017;
}

.icon.close {
    transform: translateY(-50%) rotate(360deg);
    background-image: url(https://cdn-icons-png.flaticon.com/128/2732/2732657.png);
}

ul {
    overflow: hidden;
    transform: translateX(50px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

nav.show ul {
    transform: translate(0px);
    opacity: 1;
    pointer-events: all;
}

nav {
    position: absolute;
    padding-top: 2px;
    top: 20px;
    right: 100px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    li a {
        padding: 5px 10px;
    }

    nav ul {
        padding: 15px;
    }

    nav.show ul {
        width: 260px;
    }

    .icon {
        width: 45px;
        height: 45px;
        right: -50px;
    }

    nav {
        top: 10px;
        right: 60px;
    }
}